*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

body {
padding: 0;
margin: 0;
background: linear-gradient(to right,rgb(250, 128, 128),rgb(251, 249, 137)  );

}

.outer {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.outer > button{
    cursor:pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 64, 0, 0.268);


}
.outer> button:hover{
    background-color: rgba(240, 200, 186, 0.9); 
}
.two-space{
    grid-column: span 4;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(255,255,255, 0.75);
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(122, 111, 23, 0.641);
    font-size: 1.5rem;

}
.output .current-operand{
    font-size: 2.5rem;
    
}